/* Estilos generales para el calendario */
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado del calendario (mes y año) */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4a90e2;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
}

/* Botones de navegación */
.react-calendar__navigation button {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Celdas de los días */
.react-calendar__tile {
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    transition: all 0.2s;
}

/* Día seleccionado */
.react-calendar__tile--active {
    background: #007bff;
    color: white;
}

/* Hover en los días */
.react-calendar__tile:hover {
    background: #f0f0f0;
}

/* Estilos para días especiales */
.notClase-day {
    background: rgb(227, 11, 11) !important;
    color: white !important;
}
.clase-day {
    background: rgb(8, 116, 19) !important;
    color: white !important;
}
.calendar{
    display: flex;
    justify-content: center;
}