/* Centrar el contenedor de login */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  padding: 10px;
}

/* Contenedor del borde y la caja */
.boxWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: inherit;
}

/* Borde degradado */
.borderGradient {
  position: absolute;
  left: -7px;
  top: -7px;
  width: calc(100% + 14px);
  /* Asegura que cubra toda la caja */
  height: calc(100% + 14px);
  /* Cubre también la parte superior */
  border-radius: 4px;
  /* Mantiene la forma */
  background: linear-gradient(to bottom right, #E8E8E8, #2e83c4, #2e83c4, #30567c);
  /* Amarillo, rosa, azul y turquesa */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  /* Ahora cubre todo */
  z-index: -1;
  max-width: inherit;
}

/* Caja de Login */
.loginBox {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 4px;
}

/* Input */
.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botón de acceso */
.blueButton {
  width: 100%;
  padding: 10px;
  background-color: #3399FF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blueButton:hover {
  background-color: #3377C2;
}

.redButton {
  flex: 1;
  padding: 10px;
  background-color: #FF3333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.redButton:hover {
  background-color: #CC4040;
}

/* Enlaces */
.register {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.registerLink {
  color: #0084ff;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  /* Espaciado entre el texto y el link */
}

.registerLink:hover {
  text-decoration: underline;
}

/* Margen y estilo para el link de recuperar contraseña */
.forgotPassword {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.recoverLink {
  color: #0084ff;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  /* Espaciado entre el texto y el link */
}

.recoverLink:hover {
  text-decoration: underline;
}

.countrySelector {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.PhoneInputSelect {
  position: absolute;
  margin: 0;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.countryCode {
  font-size: 18px;
  margin-right: 8px;
}

.phoneInput {
  flex: 1;
  padding: 0;
  font-size: 18px;
  border: 1px solid #ffffff;
  color: #393c40;
}

.flagIcon {
  width: 20px;
  height: 15px;
  margin-right: 10px;
}

.separator{
  margin: 10px 0;
}

.welcomeText{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
}