.TableContainer {
    max-width: 100vw;
    padding: 20px;
}


.box {
    position: relative;
    background: white;
    border-radius: 8px;
    overflow-x: auto;
    max-width: 100%;
    scrollbar-color: rgb(255, 87, 87) rgba(0, 0, 255, 0);
    scrollbar-width: thin;
}

.fixedCol {
    position: sticky;
    left: -1px;
    z-index: 1;
    background: #30567c;
    border: 2px solid black !important;
}