
.information h3{
    flex-direction: row;
    z-index: 1;
}

.curse{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.curse div{
    padding: 20px;
    border: 3px solid #9eb8cd;
    border-radius: 8px;
    background-color: #b5d4ec;
    min-width: 300px;
}

.box{
    position: relative;
    padding: 20px;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
}

.simplebox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.simplebox div{
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border:3px solid #cfcfcf ;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    min-width: 30%;
    max-width: 90vw;
}
        
.infoHead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.red{
    position: relative;
    left: 10px;
}

.red::before{
    position: absolute;
    left: -20px;
    bottom: 5px;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: red;
}

.green{
    position: relative;
    left: 10px;
}

.green::before{
    position: absolute;
    left: -20px;
    bottom: 5px;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: rgb(33, 150, 27);
}