.teacherCard {
  width: 100%;
  margin: auto 1.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f7f9fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.teacherName {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #1e3a8a;
}

.teacherBio {
  font-style: italic;
  margin-bottom: 1rem;
  color: #555;
}

.teacherDetails p {
  margin: 0.3rem 0;
  color: #333;
}
.headerButton{
  display: flex;
  justify-content: space-between;
}